extends books

block book_content
  h1='Book: '+(book.title || prevValues.title)
  form(action=('/books/book_details/'+ book.id) method='post')
    //input(type="hidden" value=(loans) name="loansData")
    p
      label(for='title') Title
      input#title(type='text' value=(book.title || prevValues.title) name='title')
      if errors.title
        em.form-error=errors.title.message
    p
      label(for='author') Author
      input#author(type='text' value=(book.author || prevValues.author) name='author')
      if errors.author
        em.form-error=errors.author.message
    p
      label(for='genre') Genre
      input#genre(type='text' value=(book.genre || prevValues.genre) name='genre')
      if errors.genre
        em.form-error=errors.genre.message
    p
      label(for='first_published') First Published
      input#first_published(type='text' value=(book.first_published || prevValues.first_published) name='first_published')
      if errors.first_published
        em.form-error=errors.first_published.message
    p
      input(type='submit' value='Update')
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href='/books/book_details/'+book.id)=book.title
          td
            a(href='/patrons/patron_details/'+loan.patron_id)=(loan.patron.first_name + ' ' + loan.patron.last_name)
          td=loan.loaned_on
          td=loan.return_by
          td=loan.returned_on
          td
            if !loan.returned_on
              a.button(href='/books/return_book') Return Book
