extends loans

block loans_content
  h1=title
  p
    a.button(href='/loans/new') Create New Loan
  p
    | Filters
    a(href='/loans')  All
    |  |
    a(href='/loans/overdue_loans')  Overdue
    |  |
    a(href='/loans/checked_loans')  Checked Out
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
       each loan in loans
         tr
           td
             a(href='/books/book_details/' + loan.book_id)=loan.book_title
           td
             a(href='/patrons/patron_detail/' + loan.patron_id)=loan.patron_name
           td=loan.loaned_on
           td=loan.return_by
           td=loan.returned_on
