extends loans

block loans_content
  h1=title
  form(action='/loans/new' method="post")
    p
      label(for='book_id') Book
      select#book_id(name="book_id")
        each book in books
          if book.id===prevValues.book_id
            option(value=book.id || prevValues.book_id selected)= book.title
          else
            option(value=book.id || prevValues.book_id)= book.title
    p
      label(for='patron_id') Patron
      select#patron_id(name="patron_id")
        each patron in patrons
          if patron.id===prevValues.patron_id
            option(value=patron.id || prevValues.patron_id selected)= (patron.first_name + " " + patron.last_name)
          else
            option(value=patron.id || prevValues.patron_id)= (patron.first_name + " " + patron.last_name)
    p
      label(for='loaned_on') Loaned on:
      input#loaned_on(type='text' value=(loanedOnValue || prevValues.loaned_on) name="loaned_on")
      if errors.loaned_on
        em.form-error=errors.loaned_on.message
    p
      label(for='return_by') Return by:
      input#return_by(type='text' value=(returnByValue || prevValues.return_by) name="return_by")
      if errors.return_by
        em.form-error=errors.return_by.message
    p
      input(type='submit' value='Create New Loan')
