extends loans

block loans_content
  h1=title
  p
    a.button(href='new_loan.html') Create New Loan
  p
    | Filters:
    a(href='/loans' class={active: activeTab === 'all'})  All
    |  |
    a(href='/loans/overdue_loans' class={active: activeTab === 'overdue'})  Overdue
    |  |
    a(href='/loans/checked_loans' class={active: activeTab === 'checked'})  Checked Out
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href='/books/book_details/' + loan.book_id)=loan.book.title
          td
            a(href='/patrons/patron_details/' + loan.patron_id)=(loan.patron.first_name + " " + loan.patron.last_name)
          td=loan.loaned_on
          td=loan.return_by
          td=loan.returned_on
          td
            if !loan.returned_on
              a.button(href='/loans/return_book/' + loan.book_id) Return Book
  
